[Desktop Entry]
Type=Application
Name=Systemd Service GUI
Comment=Systemd Service Manager
Exec=systemd-service-gui
Icon=systemd-service-gui
Terminal=false
Categories=System;Utility;
Keywords=systemd;service;manager;
StartupNotify=true
